  <%- include ('../partials/header.ejs') %>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-center">Welcome to REST API MongoDB</h1>
        <p class="lead">
            <ul class="list-group">
                <li class="list-group-item">GET: <a href="/products">/products</a> </li>
                <li class="list-group-item">GET: <a href="/products/search/beverage">/products/search/beverage </a> </li>
                <li class="list-group-item">POST: <a>/products </a> </li>
                <li class="list-group-item">PUT: <a>/products/:id </a> </li>
                <li class="list-group-item">DELETE: <a>/products/:id </a> </li>
                
              </ul>
        </p>
      </div>
    </div>
<%- include ('../partials/footer.ejs') %>